body {
  width: 100vw;
  color: white;
  background: #15061D;
  margin: 0;
  font-family: 'Comic Neue', cursive;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

main {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  /* position: fixed; */
  background-color: #15061D;
  width: 100vw;
  /* margin-bottom: 10px; */
}

h1 {
  
  font-size: 50px;
  margin-left: 20px;
}

em {
  font-weight:normal;
}

.sub-heading {
  font-size:50px;
  text-align: center;
  font-weight: bold;
}