body {
  width: 100vw;
  height: 100vh;
  color: white;
  background: #15061D;
  margin: 0;
  font-family: 'Comic Neue', cursive;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

main {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #15061D;
  width: 100vw;
}

h1 {
  font-size: 3.125em;
  margin-left: 1.25em;
}

em {
  font-weight:normal;
}

.sub-heading {
  font-size: 3.125em;
  text-align: center;
  font-weight: bold;
}