.current-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.backdrop {
    width: 80%;
    height: 60%;
    padding: 0px;
    margin-bottom: 10px;
}

.current-poster {
    width: 30%;
    height: 100%;
    padding: 0px;
    margin-right: 10px;
}

.title-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    height: 40%;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid #5B1122;
    border-radius: 10px;
    width: 70%;
    justify-content: flex-start;
}

.rating-container {
    display:flex;
}

.facts-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.movie-info p {
    width: 90%;
}

.current-movie-title {
    font-size: 40px;
    background-color: #581355;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 20px;
}

.current-movie-stats {
    width: 80%;
    background-color: #9B332B;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.current-movie-wtk {
    background-color: #581355;
    width: 95%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 2%;
}
button {
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #15061D;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    border: none;
}

button:hover {
    transition-duration: .5s;
    transform: scale(1.05);
    box-shadow: 4px 4px 10px #CB805B,
    -4px -4px 10px #CB805B;
  }